mediapak.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by  () -->
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified">
	<xs:element name="atime" type="xs:positiveInteger"/>
	<xs:element name="blksize" type="xs:positiveInteger"/>
	<xs:element name="blocks" type="xs:positiveInteger"/>
	<xs:element name="computetime" type="xs:positiveInteger"/>
	<xs:element name="ctime" type="xs:integer"/>
	<xs:element name="dev" type="xs:integer"/>
	<xs:element name="directory" type="xs:string"/>
	<xs:element name="file">
		<xs:complexType>
			<xs:all>
				<xs:element ref="filename"/>
				<xs:element ref="atime"/>
				<xs:element ref="blksize"/>
				<xs:element ref="blocks"/>
				<xs:element ref="computetime"/>
				<xs:element ref="ctime"/>
				<xs:element ref="dev"/>
				<xs:element ref="directory"/>
				<xs:element ref="gid"/>
				<xs:element ref="ino"/>
				<xs:element ref="mode"/>
				<xs:element ref="mtime"/>
				<xs:element ref="nlink"/>
				<xs:element ref="path"/>
				<xs:element ref="rdev"/>
				<xs:element ref="sha1"/>
				<xs:element ref="size"/>
				<xs:element ref="uid"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="filename" type="xs:string"/>
	<xs:element name="gid" type="xs:integer"/>
	<xs:element name="ino" type="xs:integer"/>
	<xs:element name="mode" type="xs:integer"/>
	<xs:element name="mtime" type="xs:integer"/>
	<xs:element name="nlink" type="xs:integer"/>
	<xs:element name="path" type="xs:string"/>
	<xs:element name="rdev" type="xs:integer"/>
	<xs:element name="sha1" type="xs:hexBinary"/>
	<xs:element name="size" type="xs:integer"/>
	<xs:element name="uid" type="xs:integer"/>
</xs:schema>
